<footer>
  <div class="row">
    <div class="medium-push-5 small-push-4 small-6 columns">
      <ul class="inline-list left">
        <li>
          <a href="https://github.com/kkamkou/gitmostwanted.com/wiki" target="_blank">WIKI</a>
        </li>
        <li>
          <iframe
            src="https://ghbtns.com/github-btn.html?user=kkamkou&repo=gitmostwanted.com&type=fork"
            frameborder="0" scrolling="0" width="80px" height="30px"
            style="position: absolute; top: 6px"></iframe>
        </li>
      </ul>
    </div>
  </div>
</footer>
