<footer>
  <div class="row" style="margin-top: 19px;">
    <div class="small-offset-3 text-right small-2 columns">
      <a href="https://github.com/kkamkou/gitmostwanted.com/wiki"
         target="_blank" class="label radius primary"><i class="fi-book"></i> WIKI</a>
    </div>
    <div class="small-2 text-center columns">
      <span class="label secondary">{{ config['GITHUB_SHA'] or 'local' }}</span>
    </div>
    <div class="small-5 text-left columns">
      <iframe src="https://ghbtns.com/github-btn.html?user=kkamkou&repo=gitmostwanted.com&type=fork"
              style="margin-top: 4px; border: 0; overflow: hidden; width: 80px; height: 30px;"></iframe>
    </div>
  </div>
</footer>
