{% extends "layout.html" %}

{% set page_title = 'Trending' %}

{% from "macros/attitude.html" import user_attitude %}
{% from "macros/repository.html" import repository, repository_filter %}

{% block body %}
  <ul class="breadcrumbs">
    {% for r in ['day', 'week', 'month'] %}
      <li {{ 'class=unavailable' if request.view_args.get('rng') == r }}>
        <a href="{{ url_for('repo_trending.list_by_range', rng=r) }}">{{ r|capitalize() }}</a>
      </li>
    {% endfor %}
    <li><a href="{{ url_for('repo_rating.top') }}">Top</a></li>
    {% if g.user %}
      <li><a href="{{ url_for('user_attitude.list_unchecked') }}">Attitude</a></li>
    {% else %}
      <li><a href="{{ url_for('user_oauth.login', next=url_for('user_attitude.list_unchecked')) }}">Attitude</a></li>
    {% endif %}
  </ul>

  <div class="row" id="gh-entries">
    {% call repository_filter(languages) %}
    {% endcall %}

    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        {% for (entry, attitude) in entries %}
          {% call(repo) repository(entry.repo) %}
            <div class="right">
              <span class="label secondary">
                +{{ entry.cnt_watch|number_humanize }} <i class="fi-star"></i>
              </span>
            </div>

            {% if g.user %}
                {{ user_attitude(repo.id, attitude) }}
            {% endif %}
          {% endcall %}
        {% else %}
          <p class="alert-box secondary">No entries found</p>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
