<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">

        <title>gitmostwanted</title>

        <link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.5.1/css/foundation.min.css">
        <style type="text/css">
            .row {min-width:100% !important;}
        </style>
    </head>

    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">GitMostWanted</a></h1>
                </li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li><a href="{{ url_for('oauth_login') }}">Login via GitHub</a></li>
                    <!--<li class="has-dropdown">
                        <a href="#">Account</a>
                        <ul class="dropdown">
                            <li><a href="#">Change settings</a></li>
                        </ul>
                    </li>-->
                </ul>

                <!--
                <ul class="left">
                    <li><a href="#">Left Nav Button</a></li>
                </ul>-->
            </section>
        </nav>

        {% block body %}{% endblock %}
    </body>
</html>
