{% extends "layout.html" %}

{% set page_title = account.username %}

{% from "macros/messages.html" import flashed_messages %}

{% block body %}
  <ul class="breadcrumbs">
    <li><a href="/">Trending</a></li>
    <li class="unavailable"><a href="#">Profile</a></li>
  </ul>

  {{  flashed_messages() }}

  <div class="row">
    <h2>{{ account.username }}</h2>
    <a class="button small success"
      href="{{ url_for('user_oauth.login', next=url_for('user_profile.github_sync'), scope='public_repo') }}">
      <i class="fi-loop"></i> Synchronise with GitHub
    </a>
  </div>

  <div class="row">
    <h3 class="subheader">Liked Repositories</h3>
    {% if repos.count() %}
      <table>
        {% for repo in repos %}
          <tr>
            <td>
              <a href="{{ repo.html_url }}" target="_blank">{{ repo.full_name | truncate(28, True) }}</a>
            </td>
            <td>{{ repo.language or 'N/A' }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p class="alert-box secondary">No entries found</p>
    {% endif %}
  </div>
{% endblock %}
