{% extends "layout.html" %}

{% set page_title = account.username %}

{% block body %}
  <ul class="breadcrumbs">
    <li><a href="/">Trending</a></li>
    <li class=unavailable><a href="#">Profile</a></li>
  </ul>

  <div class="row">
    <h2>{{ account.username }}</h2>
    <a href="#" class="button small success"><i class="fi-loop"></i> Synchronise with GitHub</a>
  </div>

  <div class="row">
    <h3 class="subheader">Liked Repositories</h3>
    {% if repos.count() %}
      <table>
        {% for repo in repos %}
          <tr>
            <td><a href="{{ repo.html_url }}" target="_blank">{{ repo.full_name }}</a></td>
            <td>{{ repo.language or 'N/A' }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p class="alert-box secondary">No entries found</p>
    {% endif %}
  </div>
{% endblock %}
