{% extends "layout.html" %}

{% block body %}
  <div class="row" id="gh-entries">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-3">
        {% for repo in repos %}
          <li data-url="{{ repo.html_url }}">
            <div>
              <h4>
                <a href="{{ repo.html_url }}" target="_blank">{{ repo.full_name }}</a>
                {% if repo.language %}
                  <small class="right">{{ repo.language }}</small>
                {% endif %}
              </h4>

              <p>{{ repo.description }}</p>

              <a href="{{ url_for('user_attitude.change', repo_id=repo.id, attitude='like') }}"
                class="label attitude {{ 'success' if attitude == 'like' else 'secondary' }}"
                title="Great"><i class="fi-like"></i></a>
              <a href="{{ url_for('user_attitude.change', repo_id=repo.id, attitude='neutral') }}"
                class="label attitude {{ 'success' if attitude == 'neutral' else 'secondary' }}"
                title="Not sure"><i class="fi-check"></i></a>
              <a href="{{ url_for('user_attitude.change', repo_id=repo.id, attitude='dislike') }}"
                class="label attitude {{ 'alert' if attitude == 'dislike' else 'secondary' }}"
                title="Useless"><i class="fi-dislike"></i></a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
