body{ background: #FFF url(/static/images/bg.png); min-width: 320px; }

nav.top-bar h1 a{ white-space: nowrap; }

#gh-entries.row{ min-width: 100% !important; }
    #gh-entries ul > li small{ padding-top: 18px; }
    #gh-entries ul > li:hover{  }
    #gh-entries ul > li > div{ overflow: hidden; }
    #gh-entries ul > li:hover{ background-color: #F7F7F7; }

dl.sub-nav dd{ margin-left: 0.5rem; }

div.user_attitude{ display: block; }

div.wrapper{ min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -4em; }
footer, .footer-push{ height: 4em; }
footer{ background-color: #EEE; border-top: 1px solid #DDD; text-align: center; padding-top: 1em; }
