body{ background: #FFF url(/static/images/bg.png); }

#gh-entries.row{ min-width: 100% !important; }
    #gh-entries ul > li small{ padding-top: 18px; }
    #gh-entries ul > li:hover{  }
    #gh-entries ul > li > div{ overflow: hidden; }
    #gh-entries ul > li:hover{ background-color: #F7F7F7; }

dl.sub-nav dd{ margin-left: 0.5rem; }

div.user_attitude{ display: block; }
