{% macro pagination(paginator) -%}

  {% set view_args = request.view_args %}
  {% do view_args.pop('page') %}
  {% do view_args.update(kwargs) %}

  <ul class="pagination">
    {% for page in paginator.iter_pages(left_current=1, right_current=2) -%}
      {% if page %}
        {% if page != paginator.page %}
          <li><a href="{{ url_for(request.endpoint, page=page, **view_args) }}" class="small button tiny secondary">{{ page }}</a></li>
        {% else %}
          <li class="current"><a href="javascript:void(0)" class="small button tiny disabled">{{ page }}</a></li>
        {% endif %}
      {% else %}
        <li class="unavailable"><a href="javascript:void(0)" class="small button tiny secondary">&hellip;</a></li>
      {% endif %}
    {%- endfor %}
  </ul>
{%- endmacro %}
