{% macro pagination(paginator) -%}

  {% set view_args = request.view_args %}
  {% do view_args.pop('page') %}
  {% do view_args.update(kwargs) %}

  <hr>

  <ul class="button-group text-center">
    {% for page in paginator.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) -%}
      {% if page %}
        {% if page != paginator.page %}
          <li>
            <a href="{{ url_for(request.endpoint, page=page, **view_args) }}"
              class="button tiny secondary">{{ page }}</a>
          </li>
        {% else %}
          <li class="current"><a href="javascript:void(0)"
            class="button tiny disabled">{{ page }}</a></li>
        {% endif %}
      {% else %}
        <li class="unavailable">&nbsp;</li>
      {% endif %}
    {%- endfor %}
  </ul>
{%- endmacro %}
