{% macro repository(repo) -%}
  <li data-url="{{ repo.html_url }}">
    <div>
      <h4>
        <a href="{{ repo.html_url }}" target="_blank">{{ repo.full_name }}</a>

        {% if repo.mature %}
          <sup class="secondary label" title="Mature enough (Older than 6 months)">m</sup>
        {% endif %}

        {% if repo.status in ('promising', 'hopeless') %}
          <sup class="{{ 'success' if repo.status == 'promising' else 'warning' }} label"
            title="{{ repo.status|capitalize() }}">{{ repo.status[0] }}</sup>
        {% endif %}

        {% if repo.language %}
          <small class="right">{{ repo.language }}</small>
        {% endif %}
      </h4>

      {% if repo.homepage %}
        <a href="{{ repo.homepage }}" target="_blank">{{ repo.homepage }}</a>
      {% endif %}

      {% if repo.description %}
        <p>{{ repo.description }}</p>
      {% endif %}

      {{ caller(repo) }}
    </div>
  </li>
{%- endmacro %}

{% macro repository_filter(languages) -%}
  <a href="#" class="button tiny secondary"><i class="fi-filter"></i> Filter options</a>
  <form class="repository-filter hide clearfix">
    <div class="small-8 medium-10 large-11 columns">
      <select name="lang">
        <option>All</option>
        {% for (lang,) in languages %}
          <option{{ ' selected="selected"' if request.args.get('lang') == lang }}>{{ lang }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="small-4 medium-2 large-1 columns">
      <a href="#" class="button tiny">Reset</a>
    </div>

    <div class="small-12 columns">
      <div class="row">
        <div class="small-2 medium-2 text-right columns">
          <div class="switch small radius">
            <input id="statusPromising" type="radio" value="promising" name="status"
              {{ 'checked' if request.args.get('status') == 'promising' }}>
            <label for="statusPromising"></label>
          </div>
        </div>
        <div class="small-1 columns">
          &nbsp;
          <span class="label success has-tip" data-tooltip aria-haspopup="true"
            title="Show only Promising repositories">P</span>
        </div>

        <div class="small-2 medium-2 text-right columns">
          <div class="switch small radius">
            <input id="statusHopeless" type="radio" value="hopeless" name="status"
              {{ 'checked' if request.args.get('status') == 'hopeless' }}>
            <label for="statusHopeless"></label>
          </div>
        </div>
        <div class="small-1 columns">
          &nbsp;
          <span class="label warning has-tip" data-tooltip aria-haspopup="true"
            title="Show only Hopeless repositories">H</span>
        </div>

        <div class="small-2 medium-2 text-right columns">
          <div class="switch small radius">
            <input id="maturityFlag" type="checkbox" name="mature" value="1"
              {{ 'checked' if request.args.get('mature') }}>
            <label for="maturityFlag"></label>
          </div>
        </div>
        <div class="small-1 columns">
          &nbsp;
          <span class="label secondary has-tip" data-tooltip aria-haspopup="true"
            title="Show only mature enough (older than 6 months) repositories">M</span>
        </div>
        <div class="small-3 columns">&nbsp;</div>
      </div>
    </div>
  </form>
{%- endmacro %}
