{% extends "layout.html" %}

{% block body %}
  <div class="row">
    <h1>Sponsorship</h1>

    <div class="columns small-3">
      &euro;100 for <a href="https://cloud.google.com/bigquery/" target="_blank">BigQuery</a>
    </div>
    <div class="columns small-9">
      <div class="small-12 progress">
        <span class="meter" style="width: 4.6%"></span>
      </div>
    </div>

    <table class="small-12">
      <thead>
        <tr>
          <th width="150">Date</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>15.02.2019</td>
          <td>Aymar C.</td>
        </tr>
        <tr>
          <td>18.01.2019</td>
          <td>Thomas G.</td>
        </tr>
      </tbody>
    </table>

    <div class="columns small-5">
      <a href="https://2ka.by/coffee?project=gitmostwanted.com" class="button expand" target="_blank">PayPal</a>
    </div>
    <div class="columns small-2 text-center" style="padding-top: 12px;">
      <span class="label secondary">or</span>
    </div>
    <div class="columns small-5">
      <a href="https://github.com/sponsors/kkamkou" class="button expand" target="_blank">GitHub</a>
    </div>
  </div>
{% endblock %}
