<h3 id="repoDetailsModalTitle">
  {{ entry.full_name }}
  <a href="{{ entry.html_url }}" target="_blank"><i class="fi-social-github"></i></a>
</h3>

<div style="margin-bottom: 10px">
  {% if entry.language %}
    <span class="label secondary">{{ entry.language }}</span>
  {% endif %}

  <span class="label secondary" title="Stars">
    {{ entry.stargazers_count|number_humanize }} <i class="fi-graph-bar"></i>
  </span>

  <span class="label secondary" title="Forks">
    {{ entry.forks_count|number_humanize }} <i class="fi-share"></i>
  </span>

  <span class="label secondary" title="Subscribers">
    {{ entry.subscribers_count|number_humanize }} <i class="fi-eye"></i>
  </span>
</div>

<div id="repoDetailsChart" style="height: 300px;width: 100%">Generating the popularity chart&hellip;</div>

{% if entry.description %}
  <div class="panel">{{ entry.description }}</div>
{% endif %}

{% if means %}
  <script type="text/javascript">
      if (!google.charts.Line) {
        google.charts.load('current', {'packages': ['corechart']});
      }

      google.charts.setOnLoadCallback(function () {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Popularity']
          {% for mean in means %}
            , [new Date("{{ mean.created_at }}"),  {{ mean.value }}]
          {% endfor %}
        ]);

        var holder = $('#repoDetailsChart'),
          options = {
            axisTitlesPosition: 'in',
            chartArea: {height: holder.css('height'), width: ~~(holder.css('width') * 0.95)},
            colors: ['#008CBA'],
            hAxis: {viewWindowMode: 'maximized'},
            legend: {position: 'none'},
            trendlines: {
              0: {color: '#B9B9B9', degree: 7, showR2: true, tooltip: false, type: 'polynomial'}
            }
          };

        setTimeout(function () {
          (new google.visualization.ScatterChart(holder.get(0)))
            .draw(data, options);
        }, 200);
      });
  </script>
{% endif %}

<a class="close-reveal-modal" aria-label="Close">&#215;</a>
